.title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #0d0d0d;
    text-transform: uppercase;
    &__left{
        text-align: left;
        color: #fff;
    }

}